{% extends 'base_generic.html' %}

{% block title %}My Events{% endblock %}

{% block content %}
<h1>My Events</h1>
<a href="{% url 'event_new' %}">Add new event</a>
<ul>
    {% for event in events %}
        <li>
            <a href="{% url 'event_detail' event.pk %}">{{ event.title }}</a> - {{ event.start_time }} to {{ event.end_time }}
        </li>
    {% endfor %}
</ul>
<div id="calendar"></div>
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            events: '/events/api/',
        });
    });
</script>
{% endblock %}
